<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <title>Backbone Example</title>

</head>


<script type="template" id="gl">
    <div>
        <span>total Confirmed: </span> <%=confirm%> <br>
        <span>total Death: </span> <%=death%> <br>
        <span>total Recovered: </span> <%=recover%> <br>
    </div>
</script>


<script type="template" id="count">
    <table class="table">
        <tr>
            <th>Country</th>
            <th>TotalDeaths</th>
            <th>TotalConfirmed</th>
            <th>TotalRecovered</th>
        </tr>

              
        <% _.each(data,function(i){ %>
            <% if(i.TotalDeaths>0){%>  
            <tr>
                <% if(i.TotalDeaths>100){%>
                    <td style="color:red">      
                        <%= i.Country %>
                    </td>
                <% }else{ %>
                    <td style="color:green">     
                        <%= i.Country %>
                    </td>
                <% }%>

                <td> <%= i.TotalDeaths %> </td>
                <td> <%= i.TotalConfirmed %> </td>
                <td> <%= i.TotalRecovered %> </td>
            </tr>
            <% }%>    <% }) %>

    </table>
</script>


<script type="text/javascript">

    $(document).ready(()=>{
        
        $(".getdata").on("click",()=>{
            url="https://api.covid19api.com/summary"
            $.ajax({
                url:url,
                method:'get',
                beforeSend:()=>{
                    $(".global").html("<h3>Loading.....</h3>")
                },
                success:(e)=>{
                    console.log(e)

                    // let countries = e.Countries;
                    // console.log(e.Global)

                    var count = 0
                    
                    e.Countries.forEach(i => {
                        count = count + i.TotalDeaths
                        // console.log(i.TotalDeaths)
                    });

                    console.log(count)
                    

                    var overview = _.template($('#gl').html())
                    var all = _.template($("#count").html())
                    $('.global').html(overview({'confirm':e.Global.TotalConfirmed ,"death":e.Global.TotalDeaths,"recover":e.Global.TotalRecovered}))
                    $(".data").html(all({"data":e.Countries}))
                }
            })
        })
        // console.log("hello")

    })

</script>


<body>
    <h1>This is Data</h1>
    <input type="button" class="btn btn-primary getdata" value="get Data">
    <div class="global">

    </div>

    <div class="data">

    </div>
</body>
</html>