
.nn{
    font-size:40px;
    color:red;
}

.mn{
    font-size: 30px;
    color: blue;

}


body{
    font-size: 20px;
    color:rgb(80, 226, 43);
    background:color :red;

}



.ddd{
    font-size:40px;
    color:red;


.rrr{
    font-size:20px;
    color:green:

}

