
.mss{
    font-size:30px;
    color:red;
}

.nmm{
    font-size: 30px;
    color: red;

}

.nnn{
    font-size: 23px;
    color:blue

}

.rrr{
    font-size: 23px;
    color:blue

}   


.sss{
    font-size:23px;
    color:blue
 
}

.aaa{
    font-size:15px;
    color:green

}

.ttt{
    font-size:15px;
    color:violet

}


.jjj{
    font-size:15px;
    color:palevioletred

}

#t{
    color:black;
    text-align: center;
    font-family: Algerian;
}